

.nosso_trb{
    padding-left: 50%;
}
#navegacao{
    
    padding-bottom: 40px;
}
    

.margin {
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.spc{
    padding-bottom: 30px;
}
.margin{
    margin-right: 50px;
    text-align: left;
    
}
.final{
    
    padding-bottom: 30px;
    
}


#card{
    
    font: normal 25pt Arial;
    
    
}
#quantidade{
    width: 40px;
}

#carin{
    padding-bottom: 300px;
}
#cardapio{
    padding-bottom: 50px;
    
}

